{% extends "interaction_parent.html" %}
{% block head %}
    <script src="https://www.pocaguirre.com/static/jquery.countdown360/dist/jquery.countdown360.js"></script>
    <script type='text/javascript' src='https://imagecaptioningicl.azurewebsites.net/static/js/time.js'></script>
{% endblock %}
{% block images %}
    <div class="row">
        <div class="col-6 text-end">
            <div style='padding-top:5px'>
                <div class="text-center">
                    <div id="countdown"></div>
                    <canvas id='canvas'></canvas>
                </div>
                <div id="see-image-div" class="text-center">
                    <button id="see-image" class="btn btn-primary">See Image</button>
                    <p><em>Remember: You can only see the image once.</em></p>
                </div>
                <div id="already-seen" class="text-center">
                    <p><em>Image already seen.</em></p>
                </div>
            </div>

        </div>
        <div class="col-6 text-start">
            <div style='display:inline-block;vertical-align:top;font-size:12pt;text-align:left;'>
                <h style='font-weight:800'>Instructions:</h>
                <li>Describe all parts of the image that may be <strong style='color:blue'>important to a person who is blind</strong>
                    <p><em>E.g., imagine how you would describe this image on the phone to a friend</em></p>
                </li>
                <li><strong style='color:red'>Do not</strong> speculate about what people in the image might be saying or thinking.</li>
                <li><strong style='color:red'>Do not</strong> describe things that might have happened in the future or past.</li>
                <li><strong style='color:red'>Do not</strong> give people proper names.</li>
                <li><strong style='color:red'>Do not</strong> use more than one sentence.</li>
                <li>Your description should contain at least <strong style='color:blue'>8 words</strong>.</li>
                <li>You can observe the image for <strong style='color:red'>only 1 second</strong>.</li>
                <div style='padding-top:5px'>
                    <div id='userinput_div'>
                        <div id='userinput'>
                            <textarea id='description'  placeholder='Type here. Do not start the description with:
- "There is/are ..."
- "This is / These are ..."
- "The/This image/picture ..."
- "It is ..."'>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class='state-button' style='text-align:;display:inline-block'>
                <input type='button' id='prev' value='prev'>
            </div>
            <div class='state-button' style='text-align:right;display:inline-block'>
                <input type='button' id='next' value='next'>
            </div>
        </div>
    </div>
{% endblock %}
{% block instructions %}
    <div style='display:inline-block;vertical-align:top;font-size:12pt;text-align:left;'>
        <h2 style='font-weight:800'>Instructions:</h2>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction1">
            <label class="form-check-label" for="instruction1">
                Describe all parts of the image that may be <strong style='color:blue'>important to a person who is blind</strong>
                <p><em>E.g., imagine how you would describe this image on the phone to a friend</em></p>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction2">
            <label class="form-check-label" for="instruction2">
            <strong style='color:red'>Do not</strong> speculate about what people in the image might be saying or thinking.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction3">
            <label class="form-check-label" for="instruction3">
            <strong style='color:red'>Do not</strong> describe things that might have happened in the future or past.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction4">
            <label class="form-check-label" for="instruction4">
            <strong style='color:red'>Do not</strong> give people proper names.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction5">
            <label class="form-check-label" for="instruction5">
            <strong style='color:red'>Do not</strong> use more than one sentence.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction6">
            <label class="form-check-label" for="instruction6">
            Your description should contain at least <strong style='color:blue'>8 words</strong>.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input instruction-check" type="checkbox" value="" id="instruction7">
            <label class="form-check-label" for="instruction6">
            You can observe the image for <strong style='color:red'>only 1 second</strong>.
            </label>
        </div>
    </div>
    <hr>
    <h2 style='font-weight:800'>Image Test</h2>
    <p class="lead">This is an example of an interaction with an image in this HIT.</p>
    <div class="text-center">
        <div id="countdown-instruction"></div>
        <canvas id='canvas-instruction'></canvas>
    </div>
    <div id="see-image-div-instruction" class="text-center">
        <button id="see-image-instruction" class="btn btn-primary">See Image</button>
        <p><em>Remember: You can only see the image once.</em></p>
    </div>
    {{ super() }}
    <div class="text-center">
        <button id="start-btn" class="btn btn-primary" disabled>start</button>
    </div>
{% endblock %}