<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">   
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
        {% block header %}
        {% endblock %}
        <script type='text/javascript' src='/static/js/main_voice.js'></script>
        <link rel="stylesheet" href="/static/css/data.css">
    </head>
    <body>
        <div id="dialog-modal" title="Message"></div>
        <div id="dialog-task" title="Thank You"></div>
        <div id="dialog-error" title="Error"></div>
        <div class="card text-center border-0" id="main-body">
            <div class="card-header">
                <div id="button-header-group" class="btn-group" role="group" aria-label="Basic outlined example">
                </div>
            </div>
            <div class="card-body">
                <div id="images_speech" hidden>
                    {% block images_speech %}
                    {% endblock %}
                </div>
                <div id="images_written" hidden>
                    {% block images_written %}
                    {% endblock %}
                </div>
                <div id="demographic_wrapper">
                    <h1>Provide Appropriate Descriptions for Images</h1>
                    <div class="row justify-content-md-center" style="margin-bottom: 25px;">
                        <div class="col-4 callout callout-warning">
                            <h4>Motivation</h4>
                            <p>Your work will help to build smart systems that can automatically describe our visual world to people who are blind.</p>
                        </div>
                        <div class="col-4 callout callout-warning">
                            <h4>We ask you to:</h4>
                            <p>Carefully review images and then describe the image as per the instructions.</p>
                        </div>
                    </div>
                    <p class="small">IMPORTANT: Please do not refresh the webpage once you have started working, as you will lose all your progress, and have to start at the beginning.</p>
                    <div class="row justify-content-md-center">
                        <div class="col-6 p-3">
                            <form style="display:inline-block;vertical-align:top;font-size:12pt;text-align:left;" id="demographics-form">
                                <p>Before starting, please answer the following questions. Your answers will not affect your eligibility for the study.</p>
                                <div class="mb-3">
                                    <label for="email-input" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email-input" aria-describedby="email-input" name="email-input" required>
                                </div>
                                <div class="mb-3">
                                    <label for="age-input" class="form-label">What is your age?</label>
                                    <input type="number" class="form-control" id="age-input" name="age-input" min="18" max="99" required>
                                </div>
                                <div id="race-question">
                                    <p class="question-text">Which one of the following most accurately describes you? Choose all that apply</p>
                                    <table class="table table-borderless left-table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="race-checkbox" id="race1" value="White">
                                                        <label class="form-check-label" for="education1">White</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race5" value="Black or African American">
                                                      <label class="form-check-label" for="race5">Black or African American</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race2" value="Chinese">
                                                      <label class="form-check-label" for="race2">Chinese</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race6" value="Vietnamese">
                                                      <label class="form-check-label" for="race6">Vietnamese</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                  <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race3" value="Filipino">
                                                      <label class="form-check-label" for="race3">Filipino</label>
                                                    </div>
                                              </td>
                                              <td>
                                                  <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race7" value="Korean">
                                                      <label class="form-check-label" for="race7">Korean</label>
                                                    </div>
                                              </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race4" value="Asian Indian">
                                                      <label class="form-check-label" for="race4">Asian Indian</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race8" value="Japanese">
                                                      <label class="form-check-label" for="race8">Japanese</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race9" value="Native Hawaiian">
                                                      <label class="form-check-label" for="race9">Native Hawaiian</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race10" value="Samoan">
                                                      <label class="form-check-label" for="race10">Samoan</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="checkbox" name="race-checkbox" id="race11" value="Chamorro">
                                                      <label class="form-check-label" for="race11">Chamorro</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for="other-race" class="form-label">Other race - Let me type ...</label>
                                                    <input type="text" class="form-control" id="other-race" aria-describedby="other-race" name="race-checkbox">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="ethnicity-question">
                                    <p class="question-text">Are you of Hispanic, Latino, or Spanish origin?</p>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="ethnicity-checkbox" id="ethnicity1" value="No, not of Hispanic, Latino, or Spanish origin">
                                      <label class="form-check-label" for="ethnicity1">No, not of Hispanic, Latino, or Spanish origin</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="ethnicity-checkbox" id="ethnicity2" value="Yes, Mexican, Mexican American, Chicano">
                                      <label class="form-check-label" for="ethnicity2">Yes, Mexican, Mexican American, Chicano</label>
                                    </div>
                                    <div class="form-check ">
                                        <input class="form-check-input" type="checkbox" name="ethnicity-checkbox" id="ethnicity3" value="Yes, Puerto Rican">
                                        <label class="form-check-label" for="ethnicity3">Yes, Puerto Rican</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="ethnicity-checkbox" id="ethnicity4" value="Yes, Cuban">
                                        <label class="form-check-label" for="ethnicity4">Yes, Cuban</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="ethnicity-checkbox" id="ethnicity5" value="Yes, another Hispanic, Latino, or Spanish origin">
                                        <label class="form-check-label" for="ethnicity5">Yes, another Hispanic, Latino, or Spanish origin</label>
                                    </div>
                                </div>

                                <div id="gender-question">
                                    <p class="question-text">Which one of the following most accurately describes you? Choose all that apply.</p>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender1" value="Woman">
                                      <label class="form-check-label" for="gender1">Woman</label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender2" value="Man">
                                      <label class="form-check-label" for="gender2">Man</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender3" value="Non-binary">
                                        <label class="form-check-label" for="gender3">Non-binary</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender4" value="Transgender">
                                        <label class="form-check-label" for="gender4">Transgender</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender5" value="Intersex">
                                        <label class="form-check-label" for="gender5">Intersex</label>
                                    </div>
                                    <div class="form-check">
                                        <label for="other-gender" class="form-label">Other gender - Let me type ...</label>
                                        <input type="text" class="form-control" id="other-gender" aria-describedby="other-gender" name="gender-checkbox">
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gender-checkbox" id="gender6" value="I prefer not to say">
                                        <label class="form-check-label" for="gender6">I prefer not to say</label>
                                    </div>
                                </div>

                                <div id="education-question">
                                    <p class="question-text">What is the highest degree or level of education you have completed?</p>
                                    <table class="table table-borderless left-table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="education-radio" id="education1" value="1" required>
                                                        <label class="form-check-label" for="education1">Some high school, no diploma</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education5" value="5">
                                                      <label class="form-check-label" for="education5">Associate's Degree</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education2" value="2">
                                                      <label class="form-check-label" for="education2">High school or equivalent</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education6" value="6">
                                                      <label class="form-check-label" for="education6">Bachelor's Degree</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                  <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education3" value="3">
                                                      <label class="form-check-label" for="education3">Some college credit, no degree</label>
                                                    </div>
                                              </td>
                                              <td>
                                                  <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education7" value="7">
                                                      <label class="form-check-label" for="education7">Graduate degree</label>
                                                    </div>
                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="education-radio" id="education4" value="4">
                                                      <label class="form-check-label" for="education4">Trade/technical/vocational training</label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="english-question">
                                    <p class="question-text">Is English your first language (or native level)?</p>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="english-radio" id="english1" value="yes" required>
                                      <label class="form-check-label" for="english1">yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="english-radio" id="english2" value="no">
                                      <label class="form-check-label" for="english2">no</label>
                                    </div>
                                </div>

                                <div id="glasses-question">
                                    <p class="question-text">Do you wear <em>correcting</em> eyeglasses?</p>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="glasses-radio" id="glasses1" value="yes" required>
                                      <label class="form-check-label" for="glasses1">yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="glasses-radio" id="glasses2" value="no">
                                      <label class="form-check-label" for="glasses2">no</label>
                                    </div>
                                </div>
                                <div id="lenses-question">
                                    <p class="question-text">Do you wear <em>correcting</em> contact lenses?</p>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="lenses-radio" id="lenses1" value="yes" required>
                                      <label class="form-check-label" for="lenses1">yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="lenses-radio" id="lenses2" value="no">
                                      <label class="form-check-label" for="lenses2">no</label>
                                    </div>
                                </div>
                                <div id="colorblind-question">
                                    <p class="question-text">Are you colorblind or have any difficulty seeing different colors?</p>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="colorblind-radio" id="colorblind1" value="yes" required>
                                      <label class="form-check-label" for="colorblind1">yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="colorblind-radio" id="colorblind2" value="no">
                                      <label class="form-check-label" for="colorblind2">no</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="start-btn" class="start-btn btn btn-primary" disabled>start</button>
                    </div>
                </div>
                <div id="instructions_speech" hidden>
                    <h1>Provide Appropriate Descriptions for Images</h1>
                    <div class="row justify-content-md-center" style="margin-bottom: 25px;">
                        <div class="col-4 callout callout-warning">
                            <h4>Motivation</h4>
                            <p>Your work will help to build smart systems that can automatically describe our visual world to people who are blind.</p>
                        </div>
                        <div class="col-4 callout callout-warning">
                            <h4>We ask you to:</h4>
                            <p>Carefully review images and then describe the image as per the instructions.</p>
                        </div>
                    </div>
                    <p class="small">IMPORTANT: Please do not refresh the webpage once you have started working, as you will lose all your progress, and have to start at the beginning.</p>
                    <div class="row justify-content-md-center">
                    {% block instructions_speech %}
                        
                    {% endblock %}
                    </div>
                </div>
                <div id="instructions_written" hidden>
                    <h1>Provide Appropriate Descriptions for Images</h1>
                    <div class="row justify-content-md-center" style="margin-bottom: 25px;">
                        <div class="col-4 callout callout-warning">
                            <h4>Motivation</h4>
                            <p>Your work will help to build smart systems that can automatically describe our visual world to people who are blind.</p>
                        </div>
                        <div class="col-4 callout callout-warning">
                            <h4>We ask you to:</h4>
                            <p>Carefully review images and then describe the image as per the instructions.</p>
                        </div>
                    </div>
                    <p class="small">IMPORTANT: Please do not refresh the webpage once you have started working, as you will lose all your progress, and have to start at the beginning.</p>
                    <div class="row justify-content-md-center">
                        
                    {% block instructions_written %}
                    {% endblock %}
                    </div>
                </div>
                <div id="finish" hidden>

                    <form name='mturk_form' method='post' id='mturk_form'>
                        <input type='hidden' value='' name='assignmentId' id='assignmentId'/>
                        <input type='hidden' value='' name='ans' id='ans'/>
                        <h4>Thank you for completing this section!</h4>
                        
                        <input type='button' id='submitButton' value="Submit"/>
                        <br>
                        <div class="lds-spinner" hidden><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </form>
                </div>
                
            </div>
        </div>
        <div id="circles" hidden>
            <div class="row">
                <div class="col-7 text-end">
                    <div  style='padding-top:5px' id="circle-bbox" class="d-flex align-items-center justify-content-center">
                        <div id="circle" hidden></div>
                    </div>
                </div>
                <div class="col-5 text-start" id="circles-instructions">
                    <h3>Calibrating</h3>
                    <p>After clicking the button, please stare at the circle that appears for the duration it remains on the screen.</p>
                    <div class='state-button text-center pt-3'>
                        <input type='button' id='calibrating' value="ok">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
