.result_img{
    max-height:125px;
    height:auto;
    width:auto;
}

.center-block {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}

.question-text {
    margin-top: 2rem;
    margin-bottom: 0;
}